@import url("http://fonts.cdnfonts.com/css/space-mono");

body {
  margin: 0;
  padding: 0;
  font-family: "Space Mono", sans-serif;
  background-color: hsl(185, 41%, 84%);
}
.container {
  /* width: 50%; */
  width: 800px;
  height: 400px;
  border-radius: 20px;
  margin: 60px auto;
  padding: 20px 0px;
  background-color: #fff;
  display: flex;
  justify-content: space-around;
}

.first-box {
  background-color: #fff;
  min-width: 40%;
}

.input-container p {
  font-family: "Space Mono", sans-serif;
  font-size: 14px;
}

.inside-container {
  margin: 10px auto;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

input {
  border: 2px solid #eee;
  padding: 5px 10px 5px 50px;
  font-size: 18px;
  line-height: 30px;
  outline: 0;
  display: block;
  width: 100%;
  border-radius: 7px;
  background-color: hsl(189, 41%, 97%);
}

input:hover {
  background-color: hsl(185, 41%, 84%);
  color: hsl(183, 100%, 15%);
  border: 2px solid hsl(172, 67%, 45%);
  cursor: pointer;
}
.icon {
  position: absolute;
  left: 15px;
  top: 0;
  font-size: 25px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.inner-container {
  width: 300px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
}

.button-container {
  min-width: 100%;
}

.tip-button {
  background-color: hsl(183, 100%, 15%);
  border: 1px solid hsl(183, 100%, 15%);
  border-radius: 7px;
  margin: 5px;
  color: hsl(0, 0%, 100%);
  font-weight: bold;
  font-family: "Space Mono", sans-serif;
  min-height: 40px;
  min-width: 90px;
}

.inner-container input {
  width: 10%;
  font-family: "Space Mono", sans-serif;
  text-align: end !important;
}

::-webkit-input-placeholder {
  text-align: right;
}

:-moz-placeholder {
  text-align: right;
}

.second-box {
  background-color: hsl(183, 100%, 15%);
  padding: 20px;
  border-radius: 20px;
  min-width: 40%;
}

.first-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding-left: 15px; */
}
.first-container p {
  color: hsl(0, 0%, 100%);
  font-size: 16px;
}

.first-container .sub-text {
  /* color: hsl(0, 0%, 100%); */
  color: hsl(185, 41%, 84%);
  font-size: 12px;
}

.first-container h3 {
  /* color: hsl(0, 0%, 100%); */
  color: hsl(185, 41%, 84%);
  font-size: 36px;
}
.first-container h3 img {
  height: 25px;
}

.second-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.second-container p {
  color: hsl(0, 0%, 100%);
  font-size: 16px;
}

.second-container .sub-text {
  /* color: hsl(0, 0%, 100%); */
  color: hsl(185, 41%, 84%);
  font-size: 12px;
}

.second-container h3 {
  color: hsl(185, 41%, 84%);
  font-size: 36px;
}

.second-container h3 img {
  height: 25px;
}

#clearBtn {
  background-color: hsl(172, 67%, 45%);
  /* padding: 5px 25px; */
  border: 1px solid hsl(172, 67%, 45%);
  border-radius: 7px;
  margin: 50px 0px;
  font-weight: bold;
  font-size: 16px;
  font-family: "Space Mono", sans-serif;
  min-height: 40px;
  min-width: 100%;
  color: hsl(183, 100%, 15%);
  text-transform: uppercase;
  /* position: fixed; */
}

.highlightButton {
  background-color: hsl(172, 67%, 45%);
  color: hsl(183, 100%, 15%);
  border: 2px solid hsl(172, 67%, 45%);
  cursor: pointer;
}

.error {
  border: 2px solid red;
}

#errorDisplay {
  color: red;
  padding-left: 25px;
  display: none;
}

.btnChange {
  background-color: hsl(183, 53%, 24%) !important;
  border: 1px solid hsl(184, 71%, 18%) !important;
  color: hsl(184, 71%, 18%) !important;
}

@media (max-width: 480px) {
  .container {
    width: 80%;
    height: 85%;
    display: block;
    margin: 60px auto;
    padding: 20px 20px;
  }

  .second-box {
    margin-top: 20px;
  }

  #clearBtn {
    background-color: hsl(172, 67%, 45%);
    border: 1px solid hsl(172, 67%, 45%);
    border-radius: 7px;
    margin: 7px 0px;
    font-weight: bold;
    font-size: 16px;
    font-family: "Space Mono", sans-serif;
    min-height: 40px;
    min-width: 100%;
    color: hsl(183, 100%, 15%);
    text-transform: uppercase;
  }
}
